@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Harry Potter';
  src: url('/fonts/HarryPotter.ttf');
}

@font-face {
  font-family: 'Letter';
  src: url('/fonts/letter.ttf');
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  transition: fadeIn 5s;
}
